body
{
  background-color: #EAF6F6;
}

hr
{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

p
{
  color: #383E56;
  font-family: sans-serif;
}

h3
{
  color: #383E56;
  font-family: sans-serif;
}

h1
{
  color: #383E56;
  font-family: sans-serif;
}

label
{
  color: #383E56;
  font-family: sans-serif;
}

td
{
  color: #383E56;
  font-family: sans-serif;
}

li
{
  color: #383E56;
  font-family: sans-serif;
}

thead
{
  color: #383E56;
  font-family: sans-serif;
}
